/* src/App.css */
body, html, #root, .App {
 
  scroll-behavior: smooth;
  font-family: Arimo;
  /* font-family: Sevillana; */
  background-color: #282c34; 
  color: white;
}

.App-header {
  margin-bottom: 20px;
}

.App main {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@font-face {
  font-family: Arimo;
  src: url(Arimo/Arimo-VariableFont_wght.ttf);
  
}
@font-face {
  font-family: Sevillana;
  src: url(Sevillana/Sevillana-Regular.ttf);
  
}
